.gameBoard {
    border: 1px solid black;
    min-height: 60vh;
    min-width: 80vw;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
	grid-template-rows: 33.3% 33.3% 33.3%;
}

.back{
    position: absolute;
    background-image: url(../images/card-back.jpg);
}

.front{
    position: absolute;
}

.card{
    position: relative;
}