.gameBoard {
    border: 1px solid black;
    min-height: 80vh;
    min-width: 80vw;
	display: grid;
	grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
	grid-template-rows: 33.3% 33.3% 33.3%;
	grid-template-areas:
		"y y y y y y"
		"y y y y y y"
		"y y y y y y";
}

.back{
    position: absolute;
}

.front{
    position: absolute;
}

.card{
    grid-area: y;
    position: relative;
	transition: 1s; /* test */
	transform-style: preserve-3d;
}

.revealed{
    display: none;   
}

/* .flip{
    transform: rotateY(360deg);
} */